.secondnav {
    background-color: #DCDCDC;
    overflow: hidden;
    margin: 0;
    padding-top:13px;
}

#wrapper {
    width:100%;
    height: 100%;
}

#wrapper table {
    max-width:100%;
    table-layout:fixed;
}

/* Pen-specific styles */
* {
    box-sizing: border-box;
}



section {
    color: #696969;
    font-size: 20px;
    font-family: "Times New Roman", Times, serif;
}

div {
    height: 100%;
}

/* Pattern styles */
.container {
    display: table;
    width: 100%;
}




/*Table style*/
table {
    padding: 0;
    margin: 0px;
    overflow:hidden;

}

.task_table_header {
    width:401px;
}

td, th {
    position: relative;
}

thead th:not(:empty):hover::after,
td:focus::after,
thead th:not(:empty):focus::after {
    content: '';
    height: 10000px;
    left: 0;
    position: absolute;
    top: -5000px;
    width: 100%;
    z-index: -1;
}

td:not(.nohover):hover::after,
thead th:not(.nohover):hover::after {
    background-color: lightgray;
}

.calendar-day-headers {
    text-align:center;
    width: 3%;
}

/* user Profile */
.profile {
    margin: 10px;
    width: 100%;
    height: 50px;
}
#name{
    margin-top: 10px;
    font-size: larger;
}
#userpic{
    margin:0;
    width: 50px;
    height:50px;
    border-radius: 50%;
}

/* table */
#task_table {
    padding: 0;
    margin-top: 10px;
    border-collapse:collapse;
}

/* Tasks */
.taskName{
    font-family: Arial, Helvetica, sans-serif;
    font-size: medium;
    width: 210px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    word-wrap:break-word;
}
.taskName:hover {
    text-overflow:inherit;
    overflow:visible;
    height:auto;
}
.projectName{
    font-family: "Tahoma";
    font-size: smaller;
    color: #2a88bd;
}
.companyName{
    font-family: "Tahoma";
    color: lightgray;
    font-weight: lighter;

}



.taskSpan > div{
    padding-left:0px;
    padding-right:0px;
    width:100%;
    padding: 0;
    margin-top: 40px;
    margin-bottom: 40px;
    margin-right: 0px;
    margin-left: 0px;
    height:90px;
    background-color: #FF6347;
    opacity: 0.6;
    border-radius: 2px;
}

.timer-btn {
    width:100%;
    height:100%;
}


/* profile */
#profile {
    width: 100%;
    height: 10%;
}

#propileName {
    padding: 15px;
    font-size: larger;
    font-family: "Georgia";
}

/* scheduledBar */
#scheduledBar {
    background-color: #99b900;
    height: 50px;
    border-radius: 3px;
}

#scheduledText {
    padding: 15px;
    color: white;
    font-weight: bold;
}

/* TaskedBar */
#task {
    margin: auto;
    padding: auto;
    width :100%;
}
#companyName{
    font-family: "Tahoma";
    color: lightgray;
    font-weight: lighter;
}
#taskBar {
    background-color: #f4ce42;
    height: 90px;
    border-radius: 3px;
}


/* scheduledBar */
#scheduledBar {
    background-color: #99b900;
    height: 60px;
    border-radius: 3px;
}


#scheduledText {
    padding: 15px;
    color: white;
    font-weight: bold;
}

.progressBar{
    width: 70%;
    margin-bottom:0 !important;
}

.progressBardiv{
    margin-left: 5px;
}

.sliderBardiv{
    margin-left: 5px;
}
/* sliderBar */
.sliderBar{
    width: 70%;
    padding:0px;
}
/* Loading page */

#loader {
    position: absolute;
    left: 50%;
    top: 50%;
    z-index: 1;
    margin: -75px 0 0 -75px;
    border: 16px solid #f3f3f3;
    border-radius: 50%;
    border-top: 16px solid #99b900;
    width: 120px;
    height: 120px;
    -webkit-animation: spin 2s linear infinite;
    animation: spin 2s linear infinite;
}

@-webkit-keyframes spin {
    0% { -webkit-transform: rotate(0deg); }
    100% { -webkit-transform: rotate(360deg); }
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

/* Add animation to "page content" */
.animate-bottom {
    position: relative;
    -webkit-animation-name: animatebottom;
    -webkit-animation-duration: 1s;
    animation-name: animatebottom;
    animation-duration: 1s
}

@-webkit-keyframes animatebottom {
    from { bottom:-100px; opacity:0 }
    to { bottom:0px; opacity:1 }
}

@keyframes animatebottom {
    from{ bottom:-100px; opacity:0 }
    to{ bottom:0; opacity:1 }
}

#app {
    display: none;
    text-align: center;
}



.priorityBtn {
    width: 70px;
}


/* calendar date */
.currentDate {
    background-color:#F0F8FF;
}

.nohighlight {
    background-color:white;
}

.panel-heading .accordion-toggle:after {
    /* symbol for "opening" panels */
    font-family: 'Glyphicons Halflings';
    content: "\e114";
    float: right;
    color: grey;
}
.panel-heading .accordion-toggle.collapsed:after {
    content: "\e080";
}

.logtimer {
    visibility: visible;
    position: sticky;
    width: 300px;
    bottom: 0;
}

