
.firstnav {
    background-color: black;
    overflow: hidden;
    margin: 0;
    padding:10px;
    color: white;
}
.secondnav {
    background-color: #DCDCDC;
    overflow: hidden;
    margin: 0;
    padding-top:13px;
}

/* Pen-specific styles */
* {
    box-sizing: border-box;
}


section {
    color: black;
    font-size: 20px;
    font-family: "Times New Roman", Times, serif;

}

div {
    height: 100%;
}


/* Pattern styles */
.container {
    display: table;
    width: 100%;
}

.left-half {

    position: absolute;
    left: 0px;
    width: 30%;
}

.right-half {
    background-color: #ff9e2c;
    position: absolute;
    right: 0px;
    width: 70%;
}

.firstnav ul a:hover {
    background-color: black;
}

.firstnav ul a:link {
    background-color: black;
}

.firstnav ul a:visited {
    background-color: black;
}

#profile {
    margin-top: 10%;
    width: 100%;
    padding: 10px;
    height: 10%;
}



