
.firstnav {
    background-color: black;
    overflow: hidden;
    margin: 0;
    padding:10px;
    color: white;
}
.secondnav {
    background-color: #DCDCDC;
    overflow: hidden;
    margin: 0;
    padding-top:13px;
}

#wrapper {
    width:100%;
}
/* Pen-specific styles */
* {
    box-sizing: border-box;
}


section {
    color: black;
    font-size: 20px;
    font-family: "Times New Roman", Times, serif;

}

div {
    height: 100%;
}


/* Pattern styles */
.container {
    display: table;
    width: 100%;
}

.left-half {

    position: absolute;
    left: 0px;
    width: 30%;
}

.right-half {
    background-color: #ff9e2c;
    position: absolute;
    right: 0px;
    width: 70%;
}

.firstnav ul a:hover {
    background-color: black;
}

.firstnav ul a:link {
    background-color: black;
}

.firstnav ul a:visited {
    background-color: black;
}

#profile {
    width: 100%;
    height: 10%;
}

#profile name{
    margin-top: 10px;
    padding: auto;
}
#wrapper{
    width: 100%;
    height: 100%;
}

table {
    padding: 0;
    margin-top:10px;
}

th {
    width: 3%;
}

/* Tasks */
.textName{
    font-size : larger;
}
.projectName{
    font-family: "Tahoma";
    font-size: smaller;
    color: #2a88bd;
}
.companyName{
    font-family: "Tahoma";
    color: lightgray;
    font-weight: lighter;
}

/* scheduledBar */
#scheduledBar {
    background-color: #99b900;
    height: 50px;
    border-radius: 3px;
}

#scheduledText {
    padding: 15px;
    color: white;
    font-weight: bold;
}

#progressBar{
    width: 80%;
}



