.firstnav {
    background-color: black;
    overflow: hidden;
    margin: 0;
    padding:10px;
    color: white;
}
.secondnav {
    background-color: #DCDCDC;
    overflow: hidden;
    margin: 0;
    padding-top:13px;
}

#wrapper {
    width:100%;
    height: 100%;
}
/* Pen-specific styles */
* {
    box-sizing: border-box;
}

section {
    color: black;
    font-size: 20px;
    font-family: "Times New Roman", Times, serif;

}
div {
    height: 100%;
}

/* Pattern styles */
.container {
    display: table;
    width: 100%;
}

#myFirstnav ul a:hover {
    background-color: black;
}

#myFirstnav ul a:link {
    background-color: black;
}

#myFirstnav ul a:visited {
    background-color: black;
}



table {
    padding: 0;
    margin: 0px;

}

th {
    text-align:center;
    width: 3%;
}
/* user Profile */
.profile {
    margin: 10px;
    width: 100%;
    height: 50px;
}
#name{
    margin-top: 10px;
    font-size: larger;
}
#userpic{
    margin:0;
    width: 50px;
    height:50px;
    border-radius: 50%;
}

/* Tasks */
.taskName{
    font-family: Arial, Helvetica, sans-serif;
    font-size: medium;
    width: 210px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;

}
.taskName:hover {
    text-overflow:inherit;
    overflow:visible;
    height:auto;
}
.projectName{
    font-family: "Tahoma";
    font-size: smaller;
    color: #2a88bd;
}
.companyName{
    font-family: "Tahoma";
    color: lightgray;
    font-weight: lighter;
}

/* scheduledBar */
#scheduledBar {
    background-color: #99b900;
    height: 60px;
    border-radius: 3px;
}

#scheduledText {
    padding: 15px;
    color: white;
    font-weight: bold;
}

#progressBar{
    width: 80%;
}
